<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <!--官方配置 start-->
    <!--保留官方配置，方便使用官方配置的特性,参考:spring-boot-2.1.0.RELEASE.jar!\org\springframework\boot\logging\logback\base.xml-->
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <property name="LOG_FILE" value="${LOG_FILE:-${LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}}/spring.log}"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />
    <include resource="org/springframework/boot/logging/logback/file-appender.xml" />
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
    </root>

    <!--官方配置 end-->



    <!--######自定义配置  start########-->
    <!-- 自定义配置__单独输出到一个日志文件中 -->
    <appender name="Users_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
        <file>${LOG_FILE}_Users.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FILE}_BIZ.%d{yyyy-MM-dd}.%i.gz</fileNamePattern>
            <maxFileSize>${LOG_FILE_MAX_SIZE:-10MB}</maxFileSize>
            <maxHistory>${LOG_FILE_MAX_HISTORY:-0}</maxHistory>
        </rollingPolicy>
    </appender>
    <!--指定包或者类的日志配置（这里是局部配置，它能覆盖全局配置）-->
    <!-- 自定义配置__配置业务日志输出至单独的日志文件中 -->
    <logger name="com.xunhe.bj.Controller.UserController" additivity="false" level="debug">
        <!-- 引用自定义的appender -->
        <appender-ref ref="Users_LOG"/>
        <!-- 这里也引用控制台appender，才能在控制台中看到我们的日志 -->
        <appender-ref ref="CONSOLE"/>
    </logger>
    <!--######自定义配置  end########-->
</configuration>